@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
*{box-sizing: border-box;}
body{
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

h1{
    text-align: center;
    color: black;
}


.nav{
    overflow: hidden;
    background-color: #333;
}

.nav a{
    float: right;
    text-align: center;
    font-size: 18px;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
    display: block;
}

.nav a:hover{
    background-color: gray;
}

.nav a.active{
    background-color: darkgray
}

.logo img{
    margin: 5px 10px;
    width: 45px;
    float: left;
}

a {
    text-decoration: none;
    color: white;
}

.nav .ikon{
    display: none;
}

.mySlides {
    display: none;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.text {
    font-size: 26px;
    padding: 8px 12px;
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    text-decoration: overline;
}

.slideshow-nav{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.slideshow-nav span{
    height: 15px;
    width: 60px;
    border: 2px solid white;
    margin: 0 3px;
    cursor: pointer;
    border-radius: 10px;
}

.active {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}


@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}


@media screen and (max-width: 600px) {
    .nav a:not(:first-child) {display: none;}
    .nav a.ikon{
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
.nav.responsive{
    position: relative;
    }
.nav.responsive.ikon{
    position: absolute;
    top: 0;
    right: 0;
    }
.nav.responsive .nav_elements a{
    float: none;
    display: block;
    text-align: left;
    }
.nav.responsive img{
    display: none;
    }

}

.container-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
 }
.container-cards .box{
    position: relative;
    width: 350px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    border-radius: 40px;
    overflow: hidden;
    text-align: center;
    margin: 0px 30px;
    margin-bottom: 70px;
}
.container-cards .box .icon{
    position: relative;
    width: 80px;
    height: 80px;
    color: #fff;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;
    transition: 1s;
}

.container-cards .box:nth-child(1) .icon{
    box-shadow: 0 0 0 0 #e91e63;
    background: #e91e63;
}
.container-cards .box:nth-child(1):hover .icon{
    box-shadow: 0 0 0 400px #e91e63;
}


.container-cards .box:nth-child(2) .icon{
    box-shadow: 0 0 0 0 green;
    background: green;
}
.container-cards .box:nth-child(2):hover .icon{
    box-shadow: 0 0 0 400px green;
}


.container-cards .box:nth-child(3) .icon{
    box-shadow: 0 0 0 0 lightskyblue;
    background: lightskyblue;
}
.container-cards .box:nth-child(3):hover .icon{
    box-shadow: 0 0 0 400px lightskyblue;
}

.container-cards .box .content{
    position: relative;
    z-index: 1;
    transition: 0.5s;
}

.container-cards .box:hover .content{
    color: white;
}

.container-cards .box .content h3{
    font-size: 20px;
    margin: 10px 0px;
    padding: 0;
}

.container-cards .box .content p{
    margin: 0;
    padding: 0;
}

.box-link{
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border-radius: 5px;
    font-weight: 500;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.container-cards .box::before{
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.2);
    z-index: 2;
    pointer-events: none;
}