@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
*{box-sizing: border-box;}
body{
    background-image: url("../img/Ronnie\ Coleman2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.nav{
    overflow: hidden;
    background-color: #333;
}

.nav a{
    float: right;
    text-align: center;
    font-size: 18px;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
    display: block;
}

.nav a:hover{
    background-color: gray;
}

.nav a.active{
    background-color: darkgray
}

.logo img{
    margin: 5px 10px;
    width: 45px;
    float: left;
}

.container{
    transition: 1s;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: space-around;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin-top: 45px;
}

.card{
    background-color: black;
    min-width: 200px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 27%;
    padding: 15px;
    border-radius: 12px;
    margin: 15px;
    box-shadow: 0 5px 10px #ffffff;
    transition: 1s;
    text-align: center;
    flex-direction: column;
}

.card:hover{
    transform: scale(1.1);
}

.card img{
    height: 150px;
    width: 150px;
    padding: 3px;
    border-radius: 50%;
    border: 3px solid red;
    object-fit: cover;
}

a{
    text-decoration: none;
    color: white;
}

.name{
    color: white;
    font-size: 20px;
    display: flex;
    margin-top: 5px;

}

.btn{
    display: inline-block;
    background-color: white;
    color: black;
    padding: 8px 30px;
    margin: 20px 0px;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover{
    background-color: gray;
}

.nav .ikon{
    display: none;
}

@media screen and (max-width: 600px) {
    .nav a:not(:first-child) {display: none;}
    .nav a.ikon{
        float: right;
        display: block;
    }

}

@media screen and (max-width: 600px) {
    .nav.responsive{
        position: relative;
    }
    .nav.responsive.ikon{
        position: absolute;
        top: 0;
        right: 0;
    }
    .nav.responsive .nav_elements a{
        float: none;
        display: block;
        text-align: left;
    }
    .nav.responsive img{
        display: none;
    }

}